<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나혼자 레시피 :: 레시피를 공유해요</title>

 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css">
    <!--쿠키 js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>






    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <style>
        .login-info{
            font-size: 12px;
            color:#CA4646;
            text-align: left;
            position: relative;
            left:100px;
            margin: 0px;
            top:5px;
           display: none;
        }
    </style>

    <script>

        function sign_in(){

           let id = document.querySelector('#user-id');
           let password = document.querySelector('#pw-id');
           let loginInfo = document.querySelector('.login-info');
            if (id.value == "") {
                loginInfo.innerText = '아이디를 입력해주세요!';
                loginInfo.style.display = 'block';
                return false;
            }
            else if(password.value == "") {
                loginInfo.innerText = '비밀번호를 입력해주세요!';
                loginInfo.style.display = 'block';
                return false;
            }else{
                loginInfo.style.display ='none';
            }
            $.ajax({
                type: "post",
                url : "/login",
                data:{
                    id_give: id.value,
                    password_give: password.value
                },
                success: function (response){

                    if(response['result']=='success'){

                       $.cookie('mytoken', response['token'], {path: '/'});
                        window.location.replace("/recipe")
                    }else{
                       if(response['msg']!=null){
                         alert(response['msg'])
                       }
                    }

                }
}           );

        }
        window.onload = function () {
            const loginBtn = document.querySelector('#go-login');
            loginBtn.addEventListener('click', sign_in);
        };

    </script>

</head>
<body>


{% include 'header.html' %}
    <div class="container">
        <div class="login-box">

            <div class="input-box">
                <p class="icon"><i class="fas fa-utensils fa-5x"></i></p>
                <p class="welcome"> 어서오세요, 나혼자 레시피에 :)</p>
                <label for="user-id" class="id-label">ID</label>
                <input type="text" id="user-id" placeholder="아이디를 입력해주세요.">

                <br>
                <label for="pw-id" class="pw-label">PW</label>
                <input type="password" id="pw-id" placeholder="비밀번호를 입력해주세요.">
                <p class="login-info"></p>
                <button type="button" id="go-login" class="btn btn-primary btn-lg login-btn">로그인</button>
                <a class="go-register" href="{{url_for('join')}}">회원가입하기</a>
            </div>


        </div>
    </div><!--container-->

</body>
</html>