<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나혼자 레시피 :: 레시피를 공유해요</title>

 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css">
    <!--쿠키 js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <!--꼭 기본으로 들어가야 할 css 입니다!-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <style>


        .card-user{
            color:#333230;
            font-weight: bold;
        }
        .card-title{
            font-weight: bold;
            position: relative;
            top:-10px;
        }

        .like-cook{
            color:#D7D4D3;
            cursor: pointer;
        }
        .like-user{
            font-weight: bold;
            color:#333230;
        }
        .like{
            color:#E15757;
        }

    </style>

    <script>

    // 서버에서 가져온 거 확인해서 addclass removeclass

        window.onload = function (){

            $.ajax({
                    type: 'POST',
                    url: '/like/select',
                    data: {},
                    success: function (response) {

                        if(response['like_id']){
                            console.log(response['like_id'])
                            let like = response['like_id'];
                            for(let i=0;i<like.length;i++){

                                let like_id = like[i]['heart'];
                                let heart = document.getElementById(like_id);
                                heart.classList.add('like');
                             }

                        }
                     }
            });

        }


        function likeRecipe(title,heartId){

            const LIKE = 'like';

            $.ajax({
                type:'POST',
                url:'/like',
                data:{recipe_give:title,heart_give:heartId},
                success: function (response){

                    let heart = document.getElementById(heartId);
                    let count = heart.querySelector('span');
                    let action = response['do'];
                    if(response['do']==LIKE){
                        console.log(heart)
                        heart.classList.add('like');
                        count.innerText =` ${response['count']}`;
                    }else{
                        heart.classList.remove('like');
                        count.innerText =` ${response['count']}`;
                    }

                    window.location.reload();
                }
            });
        }


    </script>

</head>
<body>


{% include 'header.html' %}
    <div class="container">
        <div class="recipe-info-box">
            <i class="fas fa-hamburger fa-4x hamburger"></i>
           <h3 class="recipe-info">
             회원분들이 추천해주신 맛있는 레시피 입니다!<br>
           </h3>
            <h4>
                레시피 등록을 통해 꿀맛 레시피를 추천해주세요 :)
            </h4>
       </div>
        <div id="cards-box" class="card-columns">

            {%for recipe in recipes%}
                <div class="card">
                    <a href="{{recipe.url}}"><img class="card-img-top"
                         src="static/{{recipe.img}}"
                         alt="Card image cap"></a>
                    <div class="card-body">

                        <p class="card-text card-user"><i class="fas fa-utensils"></i>&nbsp;&nbsp;{{recipe.user}}님</p>
                        <a target="_blank" href="{{recipe.url}}" class="card-title">{{recipe.title}}</a>
                        <p class="card-text card-desc">{{recipe.desc}}</p>
                        <span onclick="likeRecipe('{{recipe.title}}','{{recipe._id}}')"><i class="fas fa-heart like-cook" id="{{recipe._id}}"><span class="like-user">&nbsp;{{recipe.like}}</span></i></span>

                    </div>
                </div>
            {% endfor %}
            <p>{{word}}</p>
        </div>


    </div><!--container-->



</body>
</html>